<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a news article</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return handleSubmit(event)">
                <input id="name" type="text" name="input" value="" onblur="onBlur()" placeholder="Name">
                <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                    onsubmit="return handleSubmit(event)">
            </form>
            <section>

                <section>
                    <h2><strong>Form Results:</strong></h2>
                    <div>
                        <label for="polarity">Polarity:</label>
                        <span id="polarity"></span>
                    </div>
                    <div>
                        <label for="subjectivity">Subjectivity:</label>
                        <span id="subjectivity"></span>
                    </div>
                    <div>
                        <label for="polarity-confidence">Polarity Confidence:</label>
                        <span id="polarity-confidence"></span>
                    </div>
                    <div>
                        <label for="subjectivity-confidence">Subjectivity Confidence:</label>
                        <span id="subjectivity-confidence"></span>
                    </div>
                </section>

    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

    <script>
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>

</body>

</html>
